.top {
  width: 100%;
  height: 132px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}
.top a {
  display: block;
  width: 100%;
  height: 100%;
}
.top a img {
  margin: 0 -100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*banner*/
#banner {
  position: relative;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

#banner ul {
  position: absolute;
  left: 0;
}

#banner ul li, #banner ul #main .wrapper .allfloor .f_r li a, #main .wrapper .allfloor .f_r li #banner ul a {
  float: left;
  text-align: center;
  overflow: hidden;
}

#banner ul li img, #banner ul #main .wrapper .allfloor .f_r li a img, #main .wrapper .allfloor .f_r li #banner ul a img {
  height: 500px;
  margin: 0 -100%;
}

.direction {
  display: none;
}

.direction a {
  width: 60px;
  height: 40px;
  display: block;
  background: rgba(255, 255, 255, 0.3);
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  position: absolute;
  text-decoration: none;
}

.direction a:nth-child(1) {
  left: 0;
  top: 40%;
}

.direction a:nth-child(2) {
  right: 0;
  top: 40%;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 43%;
}

.btn a {
  float: left;
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 50%;
  margin-left: 10px;
}

.btn .active {
  background: #e4393c;
}

#main {
  position: relative;
}
#main .minpic {
  position: absolute;
  top: 10px;
  right: 40px;
  z-index: 9;
  width: 233px;
}
#main .minpic ul li, #main .minpic ul .wrapper .allfloor .f_r li a, #main .wrapper .allfloor .f_r li .minpic ul a {
  float: left;
}
#main .minpic ul li img, #main .minpic ul .wrapper .allfloor .f_r li a img, #main .wrapper .allfloor .f_r li .minpic ul a img {
  display: block;
}
#main .wrapper {
  padding-top: 30px;
}
#main .wrapper .new_project {
  overflow: hidden;
}
#main .wrapper .new_project h3 {
  font: 20px/30px Microsoft YaHei;
  padding-left: 10px;
}
#main .wrapper .new_project .common {
  float: left;
  width: 922px;
  border: 1px solid #ccc;
  border-right: none;
  overflow: hidden;
}
#main .wrapper .new_project .common ul .ad {
  float: left;
  width: 230px;
  height: 600px;
}
#main .wrapper .new_project .common ul li, #main .wrapper .new_project .common ul .allfloor .f_r li a, #main .wrapper .allfloor .f_r li .new_project .common ul a {
  width: 230px;
  height: 280px;
  float: left;
  margin-bottom: 20px;
}
#main .wrapper .new_project .common ul li a, #main .wrapper .allfloor .f_r li .new_project .common ul a a {
  display: block;
}
#main .wrapper .new_project .common ul li a dl, #main .wrapper .allfloor .f_r li .new_project .common ul a a dl {
  padding-top: 10px;
  width: 230px;
  height: 256px;
}
#main .wrapper .new_project .common ul li a dl dt, #main .wrapper .allfloor .f_r li .new_project .common ul a a dl dt {
  width: 230px;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Microsoft YaHei";
}
#main .wrapper .new_project .common ul li a dl dd, #main .wrapper .allfloor .f_r li .new_project .common ul a a dl dd {
  margin: 0 auto;
  width: 208px;
  text-align: center;
}
#main .wrapper .new_project .common ul li a dl dd p, #main .wrapper .allfloor .f_r li .new_project .common ul a a dl dd p {
  width: 140px;
  margin: 0 auto;
}
#main .wrapper .new_project .ranking {
  float: left;
  width: 240px;
  height: 602px;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-top: 10px;
}
#main .wrapper .new_project .ranking h4 {
  font-weight: 400;
  font: 16px/30px Microsoft YaHei;
  color: #ff336c;
}
#main .wrapper .new_project .ranking li, #main .wrapper .new_project .ranking .allfloor .f_r li a, #main .wrapper .allfloor .f_r li .new_project .ranking a {
  float: left;
  margin-bottom: 15px;
  width: 230px;
  height: 80px;
  padding-left: 10px;
  color: #ff336c;
}
#main .wrapper .new_project .ranking li em, #main .wrapper .allfloor .f_r li .new_project .ranking a em {
  font-size: 14px;
  margin-right: 4px;
  color: #F17170;
  font-weight: 700;
  float: left;
}
#main .wrapper .new_project .ranking li img, #main .wrapper .allfloor .f_r li .new_project .ranking a img {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 12px;
}
#main .wrapper .new_project .ranking li p, #main .wrapper .allfloor .f_r li .new_project .ranking a p {
  width: 130px;
  color: #333;
  line-height: 18px;
  float: left;
}
#main .wrapper .new_project .ranking li span, #main .wrapper .allfloor .f_r li .new_project .ranking a span {
  color: #ff336c;
  font-size: 14px;
  font-weight: 700;
  float: left;
}
#main .wrapper .allfloor {
  margin-top: 20px;
}
#main .wrapper .allfloor .floor {
  width: 1200px;
  height: 486px;
  border: 1px solid #ccc;
  border-top: 2px solid #fa2a64;
  margin-bottom: 20px;
}
#main .wrapper .allfloor .f_l {
  width: 320px;
  height: 486px;
  float: left;
}
#main .wrapper .allfloor .f_l .ftitle {
  width: 320px;
  height: 93px;
  background: url(../img/index/lcun.jpg) no-repeat;
}
#main .wrapper .allfloor .f_l .ftitle h2 {
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-size: 24px;
}
#main .wrapper .allfloor .f_l .ftitle h2 span {
  font-size: 48px;
  font-weight: 400;
}
#main .wrapper .allfloor .f_l .f_btn_box {
  width: 287px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#main .wrapper .allfloor .f_l .f_btn_box .f_btn {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 72px;
  height: 32px;
  text-align: center;
  line-height: 30px;
}
#main .wrapper .allfloor .f_l .adp {
  display: block;
  width: 285px;
  height: 280px;
  margin: 0 auto;
}
#main .wrapper .allfloor .f_r {
  height: 486px;
}
#main .wrapper .allfloor .f_r li, #main .wrapper .allfloor .f_r li a {
  width: 219px;
  height: 242px;
  float: left;
}
#main .wrapper .allfloor .f_r li a {
  position: relative;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
}
#main .wrapper .allfloor .f_r li a:hover .add_cart {
  display: block;
}
#main .wrapper .allfloor .f_r li a img {
  width: 182px;
  height: 182px;
}
#main .wrapper .allfloor .f_r li a p {
  margin-bottom: 2px;
}
#main .wrapper .allfloor .f_r li a b {
  color: #ea5404;
  font-size: 16px;
  margin-right: 5px;
}
#main .wrapper .allfloor .f_r li a .add_cart {
  display: none;
  width: 150px;
  height: 24px;
  background: #FF336C;
  text-align: center;
  line-height: 24px;
  color: #fff;
  position: absolute;
  top: 150px;
  left: 37px;
}

/*# sourceMappingURL=index.css.map */
