//footer
#footer{
    .footer_top{
        width: 1200px;
        height: 55px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            float: left;
            width: 127px;
            height: 55px;
            padding-left: 55px;
            text-align: center;
            line-height: 55px;
            font: 18px/55px Microsoft YaHei;
            background: url(../img/index/fotico.png) no-repeat;
            &:nth-child(1){background-position: -58px -15px;}
            &:nth-child(2){background-position: -280px -15px;}
            &:nth-child(3){background-position: -515px -15px;}
            &:nth-child(4){background-position: -755px -15px;}
            &:nth-child(5){background-position: -999px -15px;}
        }
    }
    .sn-server{
        margin-top: 20px;
        width: 1200px;
        height: 170px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            width: 230px;
            height: 170px;
            border-left: 1px solid #ddd;
            padding-left: 76px;
            &:nth-of-type(1){border: none;}
            p{
                font-size: 14px;
                font-weight: 700;
                line-height: 35px;
                color: #666;
            }
            a{
                display: block;
                color: #999;
                font-size: 14px;
                min-width: 80px;
                height: 24px;
                padding-left: 10px;
                background: url(../img/index/dian.jpg) no-repeat left center;
                line-height: 24px;
                &:hover{color: #FF4176;}
            }
            img{
                width: 100px;
                height: 100px;
                margin: 0 auto;
            }
        }
    }
    .fabout{
        margin-top: 10px;
        width: 1200px;
        text-align: center;
        span{
            color: #FF4176;
        }
        a{
            margin-left: 35px;
        }
    }
    .foot{
        margin-top: 10px;
        background: #ed134f;
        width: 100%;
        height: 30px;
        text-align: center;
        a{
            line-height: 30px;
            color: #fff;
            border-left: 2px solid #fff;
            padding:0 10px;
            &:nth-child(1){border: none;}
        }
    }
    .footer_bottom{
        width: 1200px;
        height: 84px;
        text-align: center;
        p{
            line-height: 40px;
        }
        a{
            margin: 0 4px;
            img{
                width: 96px;
                height: 33px;
            }
        }
    }
}