@charset "utf-8";
$w : 1200px; //主要宽度

@mixin center{  //居中宽度1200px
    width: $w;
    margin: 0 auto;
}

//top
.top{
    width: 100%;
    height: 132px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    a{
        display: block;
        width: 100%;
        height: 100%;
        img{
            margin: 0 -100%;
        }
    }
}


.wrapper{
    @include center;
}


/*banner*/
#banner{position: relative;height: 500px;margin:0 auto;overflow: hidden;}
#banner ul{position: absolute;left: 0;}
#banner ul li{float: left;text-align: center;overflow: hidden;}
#banner ul li img{height: 500px;margin: 0 -100%;}
.direction{display: none;}
.direction a{width:60px;height: 40px;display: block;background:rgba(255,255,255,0.3);font-size: 30px;text-align: center;line-height: 40px;color: #fff;position: absolute;text-decoration: none;}
.direction a:nth-child(1){left:0;top:40%;}
.direction a:nth-child(2){right:0;top:40%;}
.btn{position: absolute;bottom: 0;left:43%;}
.btn a{float: left;width:20px;height: 20px;background: #ccc;border-radius: 50%;margin-left: 10px;}
.btn .active{background: #e4393c;}

//main
#main{
    position: relative;
    .minpic{
        position: absolute;
        top: 10px;
        right: 40px;
        z-index: 9;
        width: 233px;
        ul{
            li{
                float: left;
                img{
                    display: block;
                }
            }
        }
    }
    .wrapper{
        padding-top: 30px;
        .new_project{
            overflow: hidden;
            h3{
                font: 20px/30px Microsoft YaHei;
                padding-left: 10px;
            }
            .common{
                float: left;
                width: 922px;
                border: 1px solid #ccc;
                border-right: none;
                overflow: hidden;
                ul{
                    .ad{
                        float: left;
                        width: 230px;
                        height: 600px;
                    }
                    li{
                        width: 230px;
                        height: 280px;
                        float: left;
                        margin-bottom: 20px;
                        a{
                            display: block;
                            dl{
                                padding-top: 10px;
                                width: 230px;
                                height: 256px;
                                dt{
                                    width: 230px;
                                    text-align: center;
                                    line-height: 38px;
                                    font-size: 16px;
                                    font-weight: 700;
                                    font-family: "Microsoft YaHei";
                                }
                                dd{
                                    margin: 0 auto;
                                    width: 208px;
                                    text-align: center;
                                    p{
                                        width: 140px;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
            .ranking{
                float: left;
                width: 240px;
                height: 602px;
                border: 1px solid #ccc;
                padding-left: 10px;
                padding-top: 10px;
                h4{
                    font-weight: 400;
                    font: 16px/30px Microsoft YaHei;
                    color: #ff336c;
                }
                li{
                    float: left;
                    margin-bottom: 15px;
                    width: 230px;
                    height: 80px;
                    padding-left: 10px;
                    color: #ff336c;
                    em{
                        font-size: 14px;
                        margin-right: 4px;
                        color: #F17170;
                        font-weight: 700;
                        float: left;
                    }
                    img{
                        float: left;
                        width: 60px;
                        height: 60px;
                        margin-right: 12px;
                    }
                    p{
                        width: 130px;
                        color: #333;
                        line-height: 18px;
                        float: left;
                    }
                    span{
                        color: #ff336c;
                        font-size: 14px;
                        font-weight: 700;
                        float: left;
                    }
                }
            }
        }
        .allfloor{
            margin-top: 20px;
           
            .floor{
                 width: 1200px;
                height: 486px;
                border: 1px solid #ccc;
                border-top: 2px solid #fa2a64;
                margin-bottom: 20px;
            }
            .f_l{
                width: 320px;
                height: 486px;
                float: left;
                .ftitle{
                    width: 320px;
                    height: 93px;
                    background: url(../img/index/lcun.jpg) no-repeat;
                    h2{
                        text-align: center;
                        line-height: 70px;
                        color: #fff;
                        font-size: 24px;
                        span{
                            font-size: 48px;
                            font-weight: 400;
                        }
                    }
                }
                .f_btn_box{
                    width: 287px;
                    height: 80px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    .f_btn{
                        display: block;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        width: 72px;
                        height: 32px;
                        text-align: center;
                        line-height: 30px;
                    }
                }
                .adp{
                    display: block;
                    width: 285px;
                    height: 280px;
                    margin: 0 auto;
                }
            }
            .f_r{
                height: 486px;
                li{
                    width: 219px;
                    height: 242px;
                    float: left;
                    a{
                        @extend li;
                        position: relative;
                        border-left: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        padding: 0 15px;
                        &:hover .add_cart{display: block;}
                        img{
                            width: 182px;
                            height: 182px;
                        }
                        p{
                            margin-bottom: 2px;
                        }
                        b{
                            color: #ea5404;
                            font-size: 16px;
                            margin-right: 5px;
                        }
                        .add_cart{
                            display: none;
                            width: 150px;
                            height: 24px;
                            background: #FF336C;
                            text-align: center;
                            line-height: 24px;
                            color: #fff;
                            position: absolute;
                            top: 150px;
                            left: 37px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}



























